[package]
name = "aoc-2023"
version = "0.1.0"
edition = "2021"

[lib]
bench = false

[dependencies]
aoc-runner = "0.3.0"
aoc-runner-derive = "0.3.0"
num-integer = "0.1.46"
rayon = "1.10"
rustc-hash = "2.0"
